

.appointments{
    padding: 20px;
    width: 80%;
    background-color:lightgray;
    text-align: center;
    margin: 0 auto;
}

.children-appointments{
    display: flex;
    justify-content: space-evenly;
}

 .box{
    padding: 20px;
    border: 1px solid;
    background-color:darkgray;
    width: 26%;
    text-align: center
}



ul{
    list-style-type: none;
    text-align: center;
}

.incoming-list{
    display: flex;
    justify-content: space-evenly;
}

.incoming-list button{
    width: fit-content;
    height: fit-content;
    align-self: center;
    padding: 10px;
}


.earnings{
    width: 80%;
    text-align: center;
    background-color:lightgray;
    margin: 20px  auto;
    padding:20px
}

.earnings ul{
    display: flex;
    flex-direction: column;
  
}

.reviews{
    display: flex;
    flex-direction: column;padding: 20px;
    width: 80%;
    text-align: center;
    background-color:lightgray;
    margin: 0 auto;
}

.dashboard{
    height: 100vh;
}